<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">
        <style type="text/css">
            .panel {
                position: absolute;
                width: 360px;
            }
            h3 {
                word-break: break-word;
            }   
            .cable {
                position: absolute;
                width: 4px;
                background-color: #EE8262;
            }
            .circle {
                position: absolute;
                border-radius: 50%; 
                width:10px;
                height:10px;
                background-color: #EE8262;
            }
        </style>
    </head>
    <body>
    </body>
    <script src="./static/jquery-2.2.0.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>
    <script>

        Color = {
            'Red'   : 1,
            'Blue'  : 2,
            'Green' : 3,
            'Yellow': 4,
            'Grey'  : 5,
        } 

        ContentType = {
            'Text'  : 1,
            'Table' : 2,
        }

        window.onload = function() {
            var first_panel = {{ first_panel }};
            build_panel(first_panel);
        }

        function build_panel(first_panel) {
            var body_padding_left = 50;
            var col_offset = 180; 
            var row_offset = 40;
            var bottom_of_col = new Array()  

            var color_to_class = function(color) {
                color_class = null;
                switch(color) {
                case Color.Red:
                    color_class = "panel-danger";
                    break;
                case Color.Blue:
                    color_class = "panel-primary";
                    break;
                case Color.Green:
                    color_class = "panel-success";
                    break;
                case Color.Yellow:
                    color_class = "panel-warning";
                    break;
                case Color.Grey:
                    color_class = "panel-default";
                    break;
                default:
                    color_class = "panel-default";
                } 
                return color_class;
            }

            var fill_content = function(element, content) {
                switch(content.content_type) {
                case ContentType.Text:
                    element.text(content.text);
                    break;
                case ContentType.Table:
                    var dom_table = $("<table class=\"table\"></table>");
                    element.append(dom_table);

                    var dom_thead = $("<thead></thead>");
                    dom_table.append(dom_thead);
                    var dom_tr = $("<tr></tr>"); 
                    dom_thead.append(dom_tr);
                    for (var i = 0; i < content.table_head.length; ++i) {
                        var dom_th = $("<th></th").text(content.table_head[i]);
                        dom_tr.append(dom_th);
                    }

                    var dom_tbody = $("<tbody></tbody>");
                    dom_table.append(dom_tbody);
                    for (var i = 0; i < content.table_rows.length; ++i) {
                        var dom_tr = $("<tr></tr>"); 
                        dom_tbody.append(dom_tr);
                        for (var j = 0; j < content.table_rows[i].length; ++j) {
                            var dom_th = $("<th></th").text(content.table_rows[i][j]);
                            dom_tr.append(dom_th);
                        }
                    }
                }
            }

            var build_panel_recursively = function(panel, row, col, last_panel_tail_x = -1, last_panel_tail_y = -1) {
                var x = col_offset * col + body_padding_left; 
                var y = 0;

                for (var i = 0; i < bottom_of_col.length; ++i) {
                    y = Math.max(y, bottom_of_col[i]); 
                } 

                y += row_offset;

                var dom_panel = $("<div class=\"panel earo-panel {0}\" style=\"left:{1}px;top:{2}px;\"></div>".format(color_to_class(panel.color), x ,y));
                $("body").append(dom_panel)

                var dom_heading = $("<div class=\"panel-heading\"></div>");
                dom_panel.append(dom_heading)

                if (panel.title) {
                    var dom_title = $("<div class=\"panel-title\"></div>"); 
                    fill_content(dom_title, panel.title)
                    dom_heading.append(dom_title);
                }
                
                if (panel.body) {
                    var dom_body = $("<div class=\"panel-body\"></div>"); 
                    fill_content(dom_body, panel.body)
                    dom_panel.append(dom_body);
                }

                if (panel.footer) {
                    var dom_footer = $("<div class=\"panel-footer\"></div>"); 
                    fill_content(dom_footer, panel.footer)
                    dom_panel.append(dom_footer);
                }

                var height = dom_panel.height();
                var bottom = y + height;
                bottom_of_col[col] = bottom;

                if (last_panel_tail_x > 0 
                    && last_panel_tail_y > 0
                ) {
                    var panel_left_mid_x = x;
                    var panel_left_mid_y = y + height / 2;

                    var cable_left = x;
                    var cable_top = last_panel_tail_y;
                    var cable_height = y + height / 2 - last_panel_tail_y;
                    var cable = $("<div class=\"cable\" style=\"left:{0}px;top:{1}px;height:{2}px;\"></div>".format(cable_left - 2, cable_top - 2, cable_height));
                    $("body").append(cable);

                    var start_point = $("<div class=\"circle\" style=\"left:{0}px;top:{1}px;\"></div>".format(last_panel_tail_x - 5, last_panel_tail_y - 3));
                    $("body").append(start_point);

                    var end_point = $("<div class=\"circle\" style=\"left:{0}px;top:{1}px;\"></div>".format(panel_left_mid_x - 5, panel_left_mid_y - 5));
                    $("body").append(end_point);
                }
				 
                var panel_tail_x = x + col_offset 
                var panel_tail_y = bottom
                for (var i = 0; i < panel.next_panels.length; ++i) {
					build_panel_recursively(panel.next_panels[i], row + i + 1, col + 1, panel_tail_x, panel_tail_y);
				}
            }
            build_panel_recursively(first_panel, 0, 0)
        }

		String.prototype.format = function(args) {
			var result = this;
			if (arguments.length > 0) {    
				if (arguments.length == 1 && typeof (args) == "object") {
					for (var key in args) {
						if(args[key]!=undefined){
							var reg = new RegExp("({" + key + "})", "g");
							result = result.replace(reg, args[key]);
						}
					}
				}
				else {
					for (var i = 0; i < arguments.length; i++) {
						if (arguments[i] != undefined) {
							var reg = new RegExp("({[" + i + "]})", "g");
							result = result.replace(reg, arguments[i]);
						}
					}
				}
			}
			return result;
		}
    </script>
</html>
